docs/demo/samples/manufacturing_migration.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<flowController encoding-version="1.4">
  <rootGroup><name>Manufacturing_Data_Pipeline</name>
    <processGroup><name>Data Ingestion</name>
      <processor><id>f1</id><name>Scan Input Directory</name><class>org.apache.nifi.processors.standard.GetFile</class><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><schedulingPeriod>1 min</schedulingPeriod><state>RUNNING</state>
        <property><name>Input Directory</name><value>/data/mfg/incoming</value></property>
        <property><name>File Filter</name><value>.*\.(csv|json|xml)</value></property>
        <property><name>Keep Source File</name><value>false</value></property>
      </processor>
      <processor><id>f2</id><name>List SFTP Uploads</name><class>org.apache.nifi.processors.standard.ListFile</class><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><schedulingPeriod>5 min</schedulingPeriod><state>RUNNING</state>
        <property><name>Input Directory</name><value>/sftp/uploads/mfg_data</value></property>
        <property><name>File Filter</name><value>production_.*\.csv</value></property>
      </processor>
      <processor><id>f3</id><name>Fetch Upload Contents</name><class>org.apache.nifi.processors.standard.FetchFile</class><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><schedulingPeriod>0 sec</schedulingPeriod><state>RUNNING</state>
        <property><name>File to Fetch</name><value>${absolute.path}/${filename}</value></property>
      </processor>
      <processor><id>f4</id><name>Query Production Metrics</name><class>org.apache.nifi.processors.standard.ExecuteSQL</class><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><schedulingPeriod>10 min</schedulingPeriod><state>RUNNING</state>
        <property><name>Database Connection Pooling Service</name><value>MfgDBCP</value></property>
        <property><name>SQL select query</name><value>SELECT lot_id, wafer_id, step_name, measurement, result, operator, meas_time FROM mfg_data.production_steps WHERE meas_time >= CURRENT_TIMESTAMP - INTERVAL '1' HOUR ORDER BY meas_time</value></property>
      </processor>
      <connection><id>fc1</id><source><id>f2</id><type>PROCESSOR</type></source><destination><id>f3</id><type>PROCESSOR</type></destination><relationship>success</relationship></connection>
    </processGroup>
    <processGroup><name>Data Transformation</name>
      <processor><id>f5</id><name>Route by File Type</name><class>org.apache.nifi.processors.standard.RouteOnAttribute</class><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><schedulingPeriod>0 sec</schedulingPeriod><state>RUNNING</state>
        <property><name>Routing Strategy</name><value>Route to Property name</value></property>
        <property><name>csv_files</name><value>${filename:endsWith('.csv')}</value></property>
        <property><name>json_files</name><value>${filename:endsWith('.json')}</value></property>
        <property><name>xml_files</name><value>${filename:endsWith('.xml')}</value></property>
      </processor>
      <processor><id>f6</id><name>Parse JSON Metrics</name><class>org.apache.nifi.processors.standard.EvaluateJsonPath</class><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><schedulingPeriod>0 sec</schedulingPeriod><state>RUNNING</state>
        <property><name>Destination</name><value>flowfile-attribute</value></property>
        <property><name>lot_id</name><value>$.lot_id</value></property>
        <property><name>status</name><value>$.quality_status</value></property>
        <property><name>yield_pct</name><value>$.yield_percentage</value></property>
      </processor>
      <processor><id>f7</id><name>Normalize Data Format</name><class>org.apache.nifi.processors.standard.ConvertRecord</class><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><schedulingPeriod>0 sec</schedulingPeriod><state>RUNNING</state>
        <property><name>Record Reader</name><value>InferAvroReader</value></property>
        <property><name>Record Writer</name><value>CSVRecordSetWriter</value></property>
      </processor>
      <processor><id>f8</id><name>Add Processing Metadata</name><class>org.apache.nifi.processors.standard.UpdateAttribute</class><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><schedulingPeriod>0 sec</schedulingPeriod><state>RUNNING</state>
        <property><name>processing.timestamp</name><value>${now():format('yyyy-MM-dd HH:mm:ss')}</value></property>
        <property><name>source.system</name><value>nifi_mfg_pipeline</value></property>
        <property><name>batch.id</name><value>${UUID()}</value></property>
        <property><name>output.filename</name><value>${filename:substringBefore('.')}_enriched_${now():format('yyyyMMdd_HHmmss')}.csv</value></property>
      </processor>
      <connection><id>fc2</id><source><id>f5</id><type>PROCESSOR</type></source><destination><id>f6</id><type>PROCESSOR</type></destination><relationship>json_files</relationship></connection>
      <connection><id>fc3</id><source><id>f5</id><type>PROCESSOR</type></source><destination><id>f7</id><type>PROCESSOR</type></destination><relationship>csv_files</relationship></connection>
      <connection><id>fc4</id><source><id>f6</id><type>PROCESSOR</type></source><destination><id>f8</id><type>PROCESSOR</type></destination><relationship>matched</relationship></connection>
      <connection><id>fc5</id><source><id>f7</id><type>PROCESSOR</type></source><destination><id>f8</id><type>PROCESSOR</type></destination><relationship>success</relationship></connection>
    </processGroup>
    <processGroup><name>Data Loading</name>
      <processor><id>f9</id><name>Write to Staging</name><class>org.apache.nifi.processors.standard.PutFile</class><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><schedulingPeriod>0 sec</schedulingPeriod><state>RUNNING</state>
        <property><name>Directory</name><value>/data/mfg/staging</value></property>
        <property><name>Conflict Resolution Strategy</name><value>replace</value></property>
      </processor>
      <processor><id>f10</id><name>Upload to HDFS</name><class>org.apache.nifi.processors.hadoop.PutHDFS</class><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><schedulingPeriod>0 sec</schedulingPeriod><state>RUNNING</state>
        <property><name>Directory</name><value>/data/warehouse/mfg_production</value></property>
        <property><name>Conflict Resolution Strategy</name><value>replace</value></property>
      </processor>
      <processor><id>f11</id><name>Insert Production Records</name><class>org.apache.nifi.processors.standard.PutDatabaseRecord</class><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><schedulingPeriod>0 sec</schedulingPeriod><state>RUNNING</state>
        <property><name>Database Connection Pooling Service</name><value>MfgDBCP</value></property>
        <property><name>Table Name</name><value>mfg_data.production_processed</value></property>
        <property><name>Statement Type</name><value>INSERT</value></property>
      </processor>
      <processor><id>f12</id><name>Transfer to Partner SFTP</name><class>org.apache.nifi.processors.standard.PutSFTP</class><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><schedulingPeriod>0 sec</schedulingPeriod><state>RUNNING</state>
        <property><name>Hostname</name><value>sftp.partner.example.com</value></property>
        <property><name>Port</name><value>22</value></property>
        <property><name>Username</name><value>mfg_data_xfer</value></property>
        <property><name>Password</name><value>xfer_s3cret!</value></property>
        <property><name>Remote Path</name><value>/incoming/mfg/${now():format('yyyyMMdd')}</value></property>
      </processor>
      <connection><id>fc6</id><source><id>f9</id><type>PROCESSOR</type></source><destination><id>f10</id><type>PROCESSOR</type></destination><relationship>success</relationship></connection>
      <connection><id>fc7</id><source><id>f9</id><type>PROCESSOR</type></source><destination><id>f11</id><type>PROCESSOR</type></destination><relationship>success</relationship></connection>
      <connection><id>fc8</id><source><id>f10</id><type>PROCESSOR</type></source><destination><id>f12</id><type>PROCESSOR</type></destination><relationship>success</relationship></connection>
    </processGroup>
    <processGroup><name>Orchestration</name>
      <processor><id>f13</id><name>Signal Data Ready</name><class>org.apache.nifi.processors.standard.Notify</class><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><schedulingPeriod>0 sec</schedulingPeriod><state>RUNNING</state>
        <property><name>Signal Counter Name</name><value>mfg_data_ready</value></property>
        <property><name>Signal Counter Delta</name><value>1</value></property>
      </processor>
      <processor><id>f14</id><name>Wait for All Sources</name><class>org.apache.nifi.processors.standard.Wait</class><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><schedulingPeriod>5 sec</schedulingPeriod><state>RUNNING</state>
        <property><name>Signal Counter Name</name><value>mfg_data_ready</value></property>
        <property><name>Target Signal Count</name><value>3</value></property>
      </processor>
      <processor><id>f15</id><name>Run Aggregation Script</name><class>org.apache.nifi.processors.standard.ExecuteStreamCommand</class><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><schedulingPeriod>0 sec</schedulingPeriod><state>RUNNING</state>
        <property><name>Command</name><value>/opt/scripts/aggregate_mfg.sh</value></property>
        <property><name>Command Arguments</name><value>/data/mfg/staging /data/mfg/aggregated</value></property>
      </processor>
      <processor><id>f16</id><name>Refresh Impala Tables</name><class>org.apache.nifi.processors.standard.ExecuteStreamCommand</class><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><schedulingPeriod>0 sec</schedulingPeriod><state>RUNNING</state>
        <property><name>Command</name><value>impala-shell</value></property>
        <property><name>Command Arguments</name><value>-q INVALIDATE METADATA mfg_data.production_processed; COMPUTE STATS mfg_data.production_processed;</value></property>
      </processor>
      <processor><id>f17</id><name>Log Pipeline Status</name><class>org.apache.nifi.processors.standard.LogMessage</class><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><schedulingPeriod>0 sec</schedulingPeriod><state>RUNNING</state>
        <property><name>Log Level</name><value>info</value></property>
        <property><name>Log Message</name><value>Manufacturing pipeline complete: batch=${batch.id}, files=${file.count}, timestamp=${processing.timestamp}</value></property>
      </processor>
      <connection><id>fc9</id><source><id>f14</id><type>PROCESSOR</type></source><destination><id>f15</id><type>PROCESSOR</type></destination><relationship>success</relationship></connection>
      <connection><id>fc10</id><source><id>f15</id><type>PROCESSOR</type></source><destination><id>f16</id><type>PROCESSOR</type></destination><relationship>success</relationship></connection>
      <connection><id>fc11</id><source><id>f16</id><type>PROCESSOR</type></source><destination><id>f17</id><type>PROCESSOR</type></destination><relationship>success</relationship></connection>
    </processGroup>
    <connection><id>fc_g1</id><source><id>f1</id><type>PROCESSOR</type></source><destination><id>f5</id><type>PROCESSOR</type></destination><relationship>success</relationship></connection>
    <connection><id>fc_g2</id><source><id>f3</id><type>PROCESSOR</type></source><destination><id>f5</id><type>PROCESSOR</type></destination><relationship>success</relationship></connection>
    <connection><id>fc_g3</id><source><id>f4</id><type>PROCESSOR</type></source><destination><id>f8</id><type>PROCESSOR</type></destination><relationship>success</relationship></connection>
    <connection><id>fc_g4</id><source><id>f8</id><type>PROCESSOR</type></source><destination><id>f9</id><type>PROCESSOR</type></destination><relationship>success</relationship></connection>
    <connection><id>fc_g5</id><source><id>f11</id><type>PROCESSOR</type></source><destination><id>f13</id><type>PROCESSOR</type></destination><relationship>success</relationship></connection>
    <connection><id>fc_g6</id><source><id>f12</id><type>PROCESSOR</type></source><destination><id>f13</id><type>PROCESSOR</type></destination><relationship>success</relationship></connection>
  </rootGroup>
  <controllerServices>
    <controllerService><id>cs_mfg</id><name>MfgDBCP</name><class>org.apache.nifi.dbcp.DBCPConnectionPool</class>
      <property><name>Database Connection URL</name><value>jdbc:oracle:thin:@mfg-db.example.com:1521/MFGPRD</value></property>
      <property><name>Database User</name><value>mfg_reader</value></property>
      <property><name>Password</name><value>mfg_r34d3r!</value></property>
      <property><name>Database Driver Class Name</name><value>oracle.jdbc.driver.OracleDriver</value></property>
    </controllerService>
  </controllerServices>
</flowController>